@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;
@use '../../abstracts/colors' as *;
@use '../../abstracts/typography' as *;
// Primary-button
.primary-button{
    @include button-style;
    width:19.25rem;
    height:4.25rem;
    p{
        margin:0;
        line-height:1rem;
        color:$primary-color;
    }
}