// Mixins
@use 'variables' as *;
@use 'colors' as *;
@use 'typography' as *;
// flex
@mixin flex($direction,$justify,$align){
    display:flex;
    flex-direction:$direction;
    justify-content: $justify;
    align-items: $align;
}
// Titres
@mixin title-style($text-color:$secondary-color,$typo:$primary-font,$text-size:2rem){
    color:$text-color;
    font-family:$typo;
    font-size:$text-size;
    margin:1rem 0;
}
//bouttons
@mixin button-style($radius:4px,$bg-color:$secondary-color,$color:$primary-color,$margin:0.75rem,$case:uppercase){
    border-radius:$radius;
    font-family:$secondary-font;
    @include flex(row,center,center);
    margin:$margin;
    color:$color;
    background-color:$bg-color;
    text-transform:$case;
}
